.imu_numeric, .imu_numeric_header {
    text-align: right;
}

.imu_numeric {
    font-family: monospace;
}

.imu_red {
    color: red;
}

.imu_file_viewer {
    border: 1px solid #555;
    box-shadow: 3px 3px 3px #DDD;
    width: 100%;
    min-height: 900px;
    height: 900px;
    font-family: monospace;
    overflow: scroll;
}

.disabled_text {
    color: #AAA;
}

label.enabled_text {
    color: inherit !important;
}

.m_link_button {
  text-decoration: none;
  background: #DFDFDF; /* Old browsers */
  background: -moz-linear-gradient(top, #DFDFDF 0%, #C8C8C8 50%, #DFDFDF 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #DFDFDF 0%,#C8C8C8 50%,#DFDFDF 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #DFDFDF 0%,#C8C8C8 50%,#DFDFDF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFDFDF', endColorstr='#DFDFDF',GradientType=0 ); /* IE6-9 */  
  color: #333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #AAA;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-left: 1px solid #AAA;
}

.m_link_button:hover {
  text-decoration: none;
  background: #E5F1FB; /* Old browsers */
  background: -moz-linear-gradient(top, #E5F1FB 0%, #F2F4FD 50%, #E5F1FB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E5F1FB 0%,#F2F4FD 50%,#E5F1FB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E5F1FB 0%,#F2F4FD 50%,#E5F1FB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5F1FB', endColorstr='#E5F1FB',GradientType=0 ); /* IE6-9 */  
  border-top: 1px solid #4397D3;
  border-right: 1px solid #0068B7;
  border-bottom: 1px solid #0068B7;
  border-left: 1px solid #4397D3;
}

.b_disabled_text, .b_disabled_text:hover {
  color: #999;
  background: none !important;
  background-color: #DFDFDF !important;
  border-top: 1px solid #AAA !important;
  border-right: 1px solid #999 !important;
  border-bottom: 1px solid #999 !important;
  border-left: 1px solid #AAA !important;
}
